<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/Front-end base/css/projects.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!-- <link rel="icon" type="image/x-icon" href="/images/thinh_selfie.jpg"> -->
    <title>Pham Tien Thinh's Portfolio</title>
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="nav__container">

            <div class="nav__access" id="nav-access">
                <i class="ri-menu-line" id ="nav-toggle" ></i>
                <ul class="nav__user">
                    <li class="nav__item" id="login">
                        <a href="/Front-end base/template/log_in.html" class="nav__link">Login</a>
                    </li>
                    <li class="nav__item" id="sign-up">
                        <div id="sign-up__button">
                            <a href="/Front-end base/template/sign_up.html" class="nav__link" >Sign-up</a>
                        </div>
                    </li>
                </ul>
            </div>

            <ul class="nav__menu show__menu" id = "nav-menu">
                <li class="nav__item">
                    <a href="/index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/Front-end base/template/about.html" class="nav__link" >About</a>
                </li>
                <li class="nav__item">
                    <a href="/Front-end base/template/projects.html" class="nav__link">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="/Front-end base/template/skills.html" class="nav__link">Skills</a>
                </li>
                <li class="nav__item">
                    <a href="#Contact" class="nav__link">Contact</a>
                </li>
            </ul>
            
        </nav>
    </header>
    <!-- ==================== MAIN ===================== -->
    <!-- Project Intro  -->
    <section class="project__intro">
        <h1>Personal Projects</h1>
        <span><i>I belive in studying-by-doing/</i></span>
        <div>
            <span class = "project__intro__desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, quaerat dolorum consectetur ratione facere perferendis aliquid, odio obcaecati provident dolores veniam ad. Iusto, debitis amet. Animi, totam quod. Voluptas, dolorum?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate illum maiores eum cum neque delectus, debitis accusantium iste laboriosam, nulla vero! Nesciunt iusto earum quisquam? Obcaecati animi ut facere sunt!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quis architecto voluptatibus similique aut voluptatem optio minus quo officia suscipit atque dignissimos debitis vel magni quasi hic, quibusdam praesentium non!
            </span>
        </div>
    </section>
    <!-- Project Container -->
    <section class="projects__master-container">
        <div class="inner__container">
            <div class="project__container" id="web">
                <div class="project__header">
                    <h1> Developing</h1>
                    <span><a href="">filter</a></span>
                </div>
                <div class="swiper mySwiper container">
                    <div class=" swiper-wrapper content">
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
              
                <div class="swiper-button-next next1"></div>
                <div class="swiper-button-prev prev1"></div>
                <div class="swiper-pagination pagi1"></div>
                
                
            </div>
            <div class="project__container" id="data">
                <div class="project__header">
                    <h1>Data Engineer</h1>
                    <span><a href="">filter</a></span>
                </div>
                <div class="swiper smySwiper container">
                    <div class=" swiper-wrapper content">
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                      <div class="project__item swiper-slide card">
                        <div class="card-content">
                          <h3>Real time chat</h3>
                          <div class="project__description">
                              <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur alias aspernatur commodi nihil labore cupiditate repellat assumenda sint voluptate nesciunt consequuntur enim error, fugit illo aliquid reprehenderit adipisci aliquam.</span>
                          </div>
                          <ul class="project__languages">
                              <li class="language__item"><i class="ri-html5-line"></i></li>
                              <li class="language__item"><i class="ri-css3-line"></i></li>
                              <li class="language__item"><i class="ri-javascript-line"></i></li>
                              <li class="language__item"><i class="ri-angularjs-line"></i></li>
                          </ul>
                          <ul class="project__tools">
                              <li class="tool__item"><i class="ri-terminal-box-line"></i></li>
                              <li class="tool__item"><i class="ri-github-line"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
              
                <div class="swiper-button-next next2"></div>
                <div class="swiper-button-prev prev2"></div>
                <div class="swiper-pagination pagi2"></div>
                
                
            </div>
        </div>
        
    </section>
    <!-- ============FOOTER============== -->
    <section class="footer">
        <div class="footer__holder">
            <div class="footer__content">
                <div class="about__me">
                    <h3>Thinh Pham</h3>
                    <div><span class="footer__text">thinh@gmail.com</span></div>
                </div>
                <div class="get__in__touch">
                    <h3>Get in Touch</h3>
                    <div>
                        <span class="footer__text">Don't miss any updates of our new templates and extensions.!</span>
                    </div>
                    <form action="/" method="POST">
                        <input type="email" name="email" id="email" placeholder=" Email">
                        <button type="submit">Subcribe</button>
        
                    </form>
                </div>
                <div class="guide__lines">
                    <h3>Our Guidelines</h3>
                    <ul>
                        <li class="guide__item"><a href="" class="footer__text">Terms</a></li>
                        <li class="guide__item"><a href="" class="footer__text">Privacy Policy</a></li>
                        <li class="guide__item"><a href="" class="footer__text">Cookie Policy</a></li>
                        <li class="guide__item"><a href="" class="footer__text">Discover</a></li>
                    </ul>
                </div>
                <div class="address">
                    <h3>Our address</h3>
                    <span class="footer__text">Chuong Duong, Hoan Kiem, Ha Noi</span>
                    <ul>
                        <li><i class="ri-facebook-line"></i></li>
                        <li><i class="ri-twitter-line"></i></li>
                        <li><i class="ri-instagram-line"></i></li>
                        <li><i class="ri-linkedin-line"></i></li>
                    </ul>
                </div>
            </div>
            <div class="footer__last-section">
                <div class="copy__right">
                    <span class="footer__text">Copyright <i class="ri-copyright-line"></i> 2023<b> Thinh Pham.</b> All rights reserved.</span>
                    <span class="footer__text">Thank you for visiting my website</span>
                </div>

            </div>
        </div>
    </section>

    <!-- ================== FOOTER =====================-->

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/Front-end base/js/projects.js"></script>
</body>
</html>