<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/Front-end base/css/skill.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!-- <link rel="icon" type="image/x-icon" href="/images/thinh_selfie.jpg"> -->
    <title>Pham Tien Thinh's Portfolio</title>
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="nav__container">

            <div class="nav__access" id="nav-access">
                <i class="ri-menu-line" id ="nav-toggle" ></i>
                <ul class="nav__user">
                    <li class="nav__item" id="login">
                        <a href="/Front-end base/template/log_in.html" class="nav__link">Login</a>
                    </li>
                    <li class="nav__item" id="sign-up">
                        <div id="sign-up__button">
                            <a href="/Front-end base/template/sign_up.html" class="nav__link" >Sign-up</a>
                        </div>
                    </li>
                </ul>
            </div>

            <ul class="nav__menu show__menu" id = "nav-menu">
                <li class="nav__item">
                    <a href="/index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/Front-end base/template/about.html" class="nav__link" >About</a>
                </li>
                <li class="nav__item">
                    <a href="/Front-end base/template/projects.html" class="nav__link">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="/Front-end base/template/skills.html" class="nav__link">Skills</a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link">Contact</a>
                </li>
            </ul>
            
        </nav>
    </header>
    <!-- ============= SKILLS =============== -->
    <section class="skills">
        <div class="skills__intro">
            <h1>My Current Skills</h1>
            <span><i>/Trying my best to gradually and sustainablly learn all the skills set needed for the role/</i></span>
            <div>
                <span class="skills__intro__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis dolorum, commodi beatae a, sunt doloribus aut eius quam reiciendis illo quo facilis fugiat cumque pariatur natus ab mollitia doloremque.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam a iusto alias eligendi quas nisi, quaerat obcaecati iure incidunt recusandae cum dolorem, impedit fugiat beatae tempore molestias autem. Dolorem!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, deleniti explicabo? Optio ullam aut expedita ducimus quos ex et veniam odit alias, quidem aliquam doloremque repudiandae distinctio dolor, possimus eum!
                </span>
            </div>
        </div>
        <div class="skills__master-container">
            <div class="skills__inner-container">
                <div class="web-skills__container" id="web">
                    <div class="skills__header">
                        <div class="skills__header_overview">
                            <h1>Web Developing</h1>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JS</li>
                                <li>Java</li>
                                <li>Springboot</li>
                                <li>DBMS</li>
                            </ul>
                        </div> 
                        <span>filter</span>
                    </div>
                    <div class="skills_desc">
                        <div>
                            <span>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero consectetur unde iusto aliquid, omnis soluta ullam sint delectus exercitationem placeat aperiam earum? Eos, facere. Voluptatem debitis perspiciatis corrupti voluptatum fugit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis explicabo laborum vel neque esse quos sit ea dolore voluptates magnam nam animi adipisci labore, minus consequatur aut nemo, error possimus.
                            </span>
                        </div>
                    </div>
                    <div class="swiper mySwiper container">
                        <div class="swiper-wrapper content">
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">Javascript</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">Java</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">Springboot</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                      </div>
                    <div class="project__refered">
                        <div class="project__refered__holder">
                            <span>
                                Lastest Project
                            </span>
                            <div>
                                <h3>Real time chat</h3>
                                <span><i class="ri-github-fill"></i> Github</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-skills__container" id="data">
                    <div class="skills__header">
                        <div class="skills__header_overview">
                            <h1>Data Engineering</h1>
                            <ul>
                                <li>Java</li>
                                <li>SSIS</li>
                                <li>MySQL</li>
                                <li>MongoDB</li>
                                <li>Hadoop</li>
                                <li>Spark</li>
                            </ul>
                        </div> 
                        <span>filter</span>
                    </div>
                    <div class="skills_desc">
                        <div>
                            <span>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero consectetur unde iusto aliquid, omnis soluta ullam sint delectus exercitationem placeat aperiam earum? Eos, facere. Voluptatem debitis perspiciatis corrupti voluptatum fugit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis explicabo laborum vel neque esse quos sit ea dolore voluptates magnam nam animi adipisci labore, minus consequatur aut nemo, error possimus.
                            </span>
                        </div>
                    </div>
                    <div class="swiper mySwiper container">
                        <div class="swiper-wrapper content">
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">Javascript</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">Java</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">Springboot</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="skill_item swiper-slide card">
                            <div class="card-content">
                              <h3 class="skill__name">HTML CSS</h3>
                              <div class="skill_item_desc">
                                  <div>
                                      <span>
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus unde vel deleniti necessitatibus, mollitia officia beatae reiciendis qui ducimus exercitationem a ab similique accusantium minus totam recusandae tempore corrupti?
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                      </div>
                    <div class="project__refered">
                        <div class="project__refered__holder">
                            <span>
                                Lastest Project
                            </span>
                            <div>
                                <h3>Word count</h3>
                                <span><i class="ri-github-fill"></i> Github</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============FOOTER================ -->
    <section class="footer" id="contact">
        <div class="footer__holder">
            <div class="footer__content">
                <div class="about__me">
                    <h3>Thinh Pham</h3>
                    <div><span class="footer__text">thinh@gmail.com</span></div>
                </div>
                <div class="get__in__touch">
                    <h3>Get in Touch</h3>
                    <div>
                        <span class="footer__text">Don't miss any updates of our new templates and extensions.!</span>
                    </div>
                    <form action="/" method="POST">
                        <input type="email" name="email" id="email" placeholder=" Email">
                        <button type="submit">Subcribe</button>
        
                    </form>
                </div>
                <div class="guide__lines">
                    <h3>Our Guidelines</h3>
                    <ul>
                        <li class="guide__item"><a href="" class="footer__text">Terms</a></li>
                        <li class="guide__item"><a href="" class="footer__text">Privacy Policy</a></li>
                        <li class="guide__item"><a href="" class="footer__text">Cookie Policy</a></li>
                        <li class="guide__item"><a href="" class="footer__text">Discover</a></li>
                    </ul>
                </div>
                <div class="address">
                    <h3>Our address</h3>
                    <span class="footer__text">Chuong Duong, Hoan Kiem, Ha Noi</span>
                    <ul>
                        <li><i class="ri-facebook-line"></i></li>
                        <li><i class="ri-twitter-line"></i></li>
                        <li><i class="ri-instagram-line"></i></li>
                        <li><i class="ri-linkedin-line"></i></li>
                    </ul>
                </div>
            </div>
            <div class="footer__last-section">
                <div class="copy__right">
                    <span class="footer__text">Copyright <i class="ri-copyright-line"></i> 2023<b> Thinh Pham.</b> All rights reserved.</span>
                    <span class="footer__text">Thank you for visiting my website</span>
                </div>

            </div>
        </div>
    </section>

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/Front-end base/js/skills.js"></script>
</body>
</html>