/* VARIABLES */


/* BASE */
*{
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
} 
:root{
    --header-height: 4.5rem;
    
    --body-color: #202124;
    --body-color2: #282824;
    --body-color3: #EFECE5;
    
    --sub-nav-color: #D9D9D9;
    --z-fixed: 100;
    --text-color: #FFFFFF;

    --h1-font-size: 2.7rem;
    --h2-font-size: 1.9rem;
    --h3-font-size: 1.7rem;

    --normal-font-size: 1.35rem;

    --input-color: #9A9999;
    --button-color: #505050;
    --red-button-color: #cd9393;
    --red-button-color-hover: #fc5e5e;
    --red-button-color-focus: #d84d4d;
}
html{
    scroll-behavior: smooth;
    
}

body{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--normal-font-size);
}
/* BASE design */
ul{
    list-style: none;
}
a{
    text-decoration: none; 
    color: var(--text-color); 
}
/* @media screen and (min-width:1150px){
    :root{
        --biggest-font-size: 4.5rem;
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size:.813rem;
    }
} */
th {
    white-space: nowrap;
  }

/* ======================HEADER========================== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--body-color);

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    font-size: var(--h3-font-size);
    font-weight: 500;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 1);

    z-index: var(--z-fixed);
}
.nav__container{
    position: relative;
    width: 65%;
    height: 100%;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 3rem;
}
.nav__access{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav__user{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    column-gap: 2rem;
}
#sign-up__button{
    background-color: var(--body-color3);
    border-radius: 7px;
    padding: 0.4rem 0.9rem;
}
#sign-up__button .nav__link{
    color: var(--body-color);
}
.nav__link{
    position: relative;
    text-decoration: none; 
    color: var(--text-color); 
}
.nav__link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: 0.4s;
}
.nav__link:hover::after{
    width: 100%;
}
#sign-up__button a::after{
    /* content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    
    height: 2px; */
    background-color: var(--body-color);
}

#nav-toggle{
    color: var(--text-color);
    font-size: var(--h1-font-size);
    display: none;
    cursor: pointer;
}
.show__menu{
    right: 0;
}
.close__menu{
    right: 100%;

}  

@media(max-width: 768px){
    .nav__container{
        width: 100%;
        display: block;
    }
    .nav__access{
        margin-left: 2%;
        margin-right: 2%;
        height: var(--header-height);
    }
    #nav-toggle{
        display: inline-block;
    }
    #sign-up__button{
        border-radius: 5px;
        padding: 0.4rem 0.5rem;
    }
    .nav__menu{
        position: absolute;
        /* display: block; */
        width: 100%;
        display: flex;
        flex-direction:  column;   
        row-gap: 1rem;
        /* left: 100%; */
        background-color: var(--body-color);
        padding: 0.5rem ;
        transition: right .4s;

        z-index: var(--z-fixed);
    }
    .nav__menu li {
        display: flex; 
        justify-content: center; 
        align-items: center;
    }   


}
/* ======================== ADMIN ========================= */
#admin{
    height: 100vh;
    padding-top: var(--header-height);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--body-color);

}
/* ========= Design nav__panel */
.nav__panel{
    background-color: var(--sub-nav-color);
    width: 200px;
    
}
.nav__panel__holder{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    padding: var(--header-height) 0 0 0;
    margin: 0;
    box-sizing: border-box;
}
.nav__panel__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__panel__item div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-button-color);
    width: 80%;
    height: 70px;
    border-radius: 5px;
    border-color: gray black black gray ;
    border-width: 3px;
    border-style: solid;
    font-size: var(--h3-font-size);
    color: var(--body-color2);
    font-weight: 600;
    transition: 0.4s;
    
}
.nav__panel__item div:hover{
    background-color: var(--red-button-color-hover);
    cursor: pointer;
    color: var(--text-color);

}
.nav__panel__item div:active{
    background-color: var(--red-button-color-focus);
    border-color: black gray  gray black  ;
    border-width: 3px;
    transition: 0.05s;
}
/* EVENT LISTENER ON NAV */

/* ================FORM CONTROL=============== */
.form__control{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 2rem 0 2rem;
    gap: 2rem;
    height: 100%;
    width: 100%;
}
/* Sub_nav */
.sub__nav{
    height: var(--header-height);
    padding-top: 10px;   
    display: flex;
    justify-content: start;
    align-items: center;
}

.sub__nav__holder{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sub__nav__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub__nav__item div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-button-color);
    padding: 10px;
    border-radius: 5px;
    border-color: gray black black gray ;
    border-width: 2px;
    border-style: solid;
    font-size: var(--h3-font-size);
    color: var(--body-color2);
    font-weight: 600;
    transition: 0.4s;
}
.sub__nav__item div:hover{
    background-color: var(--red-button-color-hover);
    cursor: pointer;
    color: var(--text-color);
}
.sub__nav__item div:active{
    background-color: var(--red-button-color-focus);
    border-color: black gray gray black  ;
    border-width: 2px;
    transition: 0.05s;
}

.control__view{
    height: 100vh;
    width: 100%;
}
/* Guide */
.guide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: var(--h2-font-size);
    color: var(--text-color);
}
.guide b{
    color: #d84d4d;
}
/* CONTROL BUTTON COLOR */
#button, .update__button, .delete__button{
    background-color: var(--red-button-color);
    /* border: none; */
    width: 80px;
    height: 50px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: smaller;
    color: var(--body-color2);
    font-weight: bold;
    
}
#button:hover, .update__button:hover, .delete__button:hover{
    background-color: var(--red-button-color-hover);
    cursor: pointer;
    color: var(--text-color); 
    /* transition-duration: 0.4s; */
}
#button:active, .update__button:active, .delete__button:active{
    background-color: var(--red-button-color-focus);
    transition: none;
}
.data__view h2{
    color: var(--text-color)    ;
}
.table__container{
    max-height: 700px; /* Adjust the height based on your requirements */
    overflow-y: auto;
}
/* Xử lý chung tất cả các form */
.form{
    z-index: 5;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.form .container{
    background-color: var(--body-color3);
    padding: 1rem;
    padding: 5px;
    border-radius: 5px;
    
}
.form div form{
    
}


























/* ========== FOOTER ========= */
.footer{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.footer__holder{
    width: 74%;
    position: relative;
}
.footer__content{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;    
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem 0 1rem 0;
    
}

.about__me{
    /* width: 100%; */
    flex:1;
}
.footer__text{
    font-size: 0.8rem;
    color: lightgrey;
}
.get__in__touch{
    flex: 2;
}

form{
    margin-top: 0.9rem;
    display: flex;
    gap: 1rem;
}
form button{
    padding: 3px 6px;
    background-color: var(--body-color3);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 550 ;
    
    transition: 0.4s;
}
form button:hover{
    background-color: #c7baa1;

}

.guide__lines{
    flex: 1;
}

.address{
    flex: 1;
}

.address ul{
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
    gap: 1rem;
}

.address ul li i{
    font-size: 0.9rem;
    color: gray;
}
.footer__last-section{
    position: relative;
}
.footer__last-section::before{
   
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        height: 4px;
        background-color: var(--body-color3);
        border-radius: 10px;
        width: 100%;  
}
.copy__right{

    position: relative;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.copy__right span{
    font-size: 0.8rem;
    color: lightgrey;
}
.copy__right span b{
    color: #fc5e5e  ;
}
    