*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header-height: 3rem;

    --body-color: #202124;
    --body-color2: #282824;
    --body-color3: #EFECE5;

    --z-fixed: 100;
    --text-color: #FFFFFF;

    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.9rem;

    --input-color: #9A9999;
    --button-color: #505050
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    /* background-color: var(--body-color); */
}



/* BASE Design */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}


/* ======================HEADER========================== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--body-color);

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    font-size: var(--h3-font-size);
    font-weight: 500;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 1);

    z-index: var(--z-fixed);
}
.nav__container{
    position: relative;
    width: 65%;
    height: 100%;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 3rem;
}
.nav__access{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav__user{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;

    column-gap: 2rem;
}
#sign-up__button{
    background-color: var(--body-color3);
    border-radius: 7px;
    padding: 0.4rem 0.9rem;
}
#sign-up__button .nav__link{
    color: var(--body-color);
}
.nav__link{
    position: relative;
}
.nav__link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: 0.4s;
}
.nav__link:hover::after{
    width: 100%;
}
#sign-up__button a::after{
    /* content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    
    height: 2px; */
    background-color: var(--body-color);
}

#nav-toggle{
    color: var(--text-color);
    font-size: var(--h1-font-size);
    display: none;
    cursor: pointer;
}
.show__menu{
    right: 0;
}
.close__menu{
    right: 100%;

}  

@media(max-width: 768px){
    .nav__container{
        width: 100%;
        display: block;
    }
    .nav__access{
        margin-left: 2%;
        margin-right: 2%;
        height: var(--header-height);
    }
    #nav-toggle{
        display: inline-block;
    }
    #sign-up__button{
        border-radius: 5px;
        padding: 0.4rem 0.5rem;
    }
    .nav__menu{
        position: absolute;
        /* display: block; */
        width: 100%;
        display: flex;
        flex-direction:  column;   
        row-gap: 1rem;
        /* left: 100%; */
        background-color: var(--body-color);
        padding: 0.5rem ;
        transition: right .4s;

        z-index: var(--z-fixed);
    }
    .nav__menu li {
        display: flex; 
        justify-content: center; 
        align-items: center;
    }   


}

/* Skills intro */
.skills__intro{
    position: relative;
    height: 100vh;
    width: 100%;
    /* display: block; */

    background-color: var(--body-color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;  
    align-items: center;


}
.skills__intro h1{
    margin-top: 6rem;
    font-size: 4rem;
    text-align: center;
}

.skills__intro div{
    width: 60%;
    height: 15rem;
    
    background-color: var(--body-color3);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    overflow: hidden;
}
.skills__intro div span{
    margin: 15px;
    color: var(--body-color);
    font-weight: 550;
    text-align: justify;
}
/* Skills master container */
/* Web */
.skills__master-container{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--body-color3);
    color: var(--body-color);
}
.skills__inner-container{
    position: relative;
    width: 65%;
    
    display: flex;
    flex-flow: column nowrap;
    
}
.web-skills__container, .data-skills__container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: var(--body-color3); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* align-items: center; */
    
}
.skills__header{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0 1rem 0;
    margin-top: var(--header-height);
}
.skills__header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 5px;
    background-color: var(--body-color);
    border-radius: 5px;
}
.skills__header_overview{
    position: relative;
    display: flex;
    flex: row nowrap;
    /* justify-content: flex-start; */
    gap: 2rem ;
}
.skills__header_overview ul{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 5px;
    
}
.skills__header_overview ul li{
    position: relative;
    background-color: #cd9393;
    border-radius: 5px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.skills__header_overview ul li:hover{
    background-color: #fc5e5e;
}
.skills_desc{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 5px;
}
.skills_desc div{
    /* display: block; */
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* Skills container */
.skills__container{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 3px;
    

}
.skill__item{
    position: relative;
    /* width: 150px; */
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}
.skill__name{
    margin-top: 7px;
    position: relative;
    
}
.skill__name::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: var(--body-color);
    border-radius: 5px;
    width: 100%;
}
.skill_item_desc{
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-color: var(--body-color2);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill_item_desc div{
    padding: 6px;
    font-size: 0.8rem;
}
.project__refered{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.project__refered__holder{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.project__refered__holder div{
    background-color: #cd9393;
    border-radius: 5px;
    padding: 5px 12px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.4s;
}
.project__refered__holder div:hover{
    background-color: #fc5e5e;
    
}
.project__refered__holder div:focus{
    background-color: #aa2c2c;
}




/* ========== FOOTER ========= */
.footer{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.footer__holder{
    width: 74%;
    position: relative;
}
.footer__content{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;    
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem 0 1rem 0;
    
}

.about__me{
    /* width: 100%; */
    flex:1;
}
.footer__text{
    font-size: 0.8rem;
    color: lightgrey;
}
.get__in__touch{
    flex: 2;
}

form{
    margin-top: 0.9rem;
    display: flex;
    gap: 1rem;
}
form button{
    padding: 3px 6px;
    background-color: var(--body-color3);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 550 ;
    
    transition: 0.4s;
}
form button:hover{
    background-color: #c7baa1;

}

.guide__lines{
    flex: 1;
}

.address{
    flex: 1;
}

.address ul{
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
    gap: 1rem;
}

.address ul li i{
    font-size: 0.9rem;
    color: gray;
}
.footer__last-section{
    position: relative;
}
.footer__last-section::before{
   
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        height: 4px;
        background-color: var(--body-color3);
        border-radius: 10px;
        width: 100%;  
}
.copy__right{

    position: relative;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.copy__right span{
    font-size: 0.8rem;
    color: lightgrey;
}
.copy__right span b{
    color: #fc5e5e  ;
}





