/* VARIABLES */


/* BASE */
*{
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
}
:root{
    --header-height: 3rem;
    
    --body-color: #202124;
    --body-color2: #282824;
    --body-color3: #EFECE5;

    --z-fixed: 100;
    --text-color: #FFFFFF;

    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;

    --normal-font-size: 0.9rem;

    --input-color: #9A9999;
    --button-color: #505050;
}
html{
    scroll-behavior: smooth;
    
}

body{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--normal-font-size);
}
/* BASE design */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
/* @media screen and (min-width:1150px){
    :root{
        --biggest-font-size: 4.5rem;
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size:.813rem;
    }
} */

/* ======================HEADER========================== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--body-color);

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    font-size: var(--h3-font-size);
    font-weight: 500;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 1);

    z-index: var(--z-fixed);
}
.nav__container{
    position: relative;
    width: 65%;
    height: 100%;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 3rem;
}
.nav__access{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav__user{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    column-gap: 2rem;
}
#sign-up__button{
    background-color: var(--body-color3);
    border-radius: 7px;
    padding: 0.4rem 0.9rem;
}
#sign-up__button .nav__link{
    color: var(--body-color);
}
.nav__link{
    position: relative;
}
.nav__link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: 0.4s;
}
.nav__link:hover::after{
    width: 100%;
}
#sign-up__button a::after{
    /* content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    
    height: 2px; */
    background-color: var(--body-color);
}

#nav-toggle{
    color: var(--text-color);
    font-size: var(--h1-font-size);
    display: none;
    cursor: pointer;
}
.show__menu{
    right: 0;
}
.close__menu{
    right: 100%;

}  

@media(max-width: 768px){
    .nav__container{
        width: 100%;
        display: block;
    }
    .nav__access{
        margin-left: 2%;
        margin-right: 2%;
        height: var(--header-height);
    }
    #nav-toggle{
        display: inline-block;
    }
    #sign-up__button{
        border-radius: 5px;
        padding: 0.4rem 0.5rem;
    }
    .nav__menu{
        position: absolute;
        /* display: block; */
        width: 100%;
        display: flex;
        flex-direction:  column;   
        row-gap: 1rem;
        /* left: 100%; */
        background-color: var(--body-color);
        padding: 0.5rem ;
        transition: right .4s;

        z-index: var(--z-fixed);
    }
    .nav__menu li {
        display: flex; 
        justify-content: center; 
        align-items: center;
    }   


}
/* Main */
.home{
    height: 100vh;
    background-color: var(--body-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.avatar__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
    row-gap: 2.5rem;
    width: 65%;
}

.avatar h1{
    position: relative;
    top: -1.1rem;
    text-align: center;
}
.avatar img{
    width: 70%;
    display: block;
}
.avatar__img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
}
.avatar__container span{
    width: 600px;
}
/* About me */
    /* Quote */
.about__quote__container{
    height: 100vh;
    background-color: var(--body-color2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.about__quote{
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}
.about__quote span{
    text-align: center;
    line-height: 2rem;
}

    /* Cotent */
.about{
    position: relative;
    background-color: var(--body-color3);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.about__master-container{
    position: relative;
    height: 100vh;
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.about__header{
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin-top: var(--header-height);
    color: var(--body-color);
}
.about__container{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.item__header{
    position: relative;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3rem;
    
}
.circle__holder{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
.circle{
    border-radius: 50%;
}
.big{
    height: 50%;
    width: 50%;
    background-color: var(--body-color);
}
.small{
    height: 50%;
    width: 50%;
    background-color: var(--body-color2);
}

.item__short{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    align-items: center;
    
}
.tag{
    color: var(--body-color2);
    font-weight: 600;
}
.title{
    font-weight: bold;
    color: var(--body-color)  ;
    font-size: var(--h2-font-size);
}
.item__desc{
    margin-left: 23px;
    /* border-left: 3px dotted black; */
    padding-left: 4rem;
    
}
.item__desc span{
    color: var(--body-color2);;
    text-align: justify;
}
.honour__award{
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: var(--header-height);
    border-top: 3px solid var(--body-color);
    padding-top: 1rem;
    
}
/* .honour__award::after{
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--body-color);
} */
.honour__award h3{
    color: var(--body-color);
}
.award__list{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.title{
    font-size: var(--normal-font-size);
}
.award__item div span{
    color: var(--button-color);
}
/* ============================== Skills============================== */
.skill{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--body-color);
    width: 100%;
}
.skill__intro{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color2);
}
.skill__intro__quote{
    width: 65%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.skill__intro__quote span{
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    /* font-weight: bold; */
}
.skill__master-container{
    height: 100vh;
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: var(--header-height) 0 var(--header-height) 0;
}
.skill__header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.skill__header-header{
    width: 400px;
}
.skill__header-header h1{
    font-size: 2rem;
    font-weight: 700;
}
.skill__header-header span{
    font-size: 0.8rem;
}
.skill__filter{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.skill__filter li{
    padding: 0.7rem;
    position: relative;
}
.skill__filter li::after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: gray;
    /* border-radius: 5px; */
    transition: 0.4s;
}
.skill__filter li:hover::after{
    background-color: var(--body-color3);
    border-radius: 5px;
}
.skill__inner-container{
    /* position: relative; */
    overflow: hidden;

}
.skill__container{
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: flex-start; */
    position: relative;
}
.skill__item{
    border: 1px solid white;
    transition: 0.2s;
}
.skill__item:hover{
    background-color: var(--body-color2);
}
.skill__item div{
    position: relative;
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.odd{
    left: 90px
}
/* INFINITE SCROLL */
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
  
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }


/* ============================== PROJECTS ============================= */
.project{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--body-color3);
    width: 100%;
}
.project__intro{
    height: 100vh;
    width: 100%;    
    background-color: var(--body-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: var(--header-height); */
}
.project__intro__quote{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project__intro__quote span{
    color: var(--text-color);
    font-size: 2rem;
    /* font-weight: bold; */
}
.project__master-container{
    width: 65%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between ;
    padding: var(--header-height) 0 var(--header-height) 0;
    background-color: var(--body-color3);
    /* align-items: center; */
}
.project__header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

}

.project__header-header{
    display: flex;
    flex-flow: column;
    width: 500px;
}
.project__header-header .first{
    display: flex;
    justify-content: flex-start;
}
.project__header-header .second{
    display: flex;
    justify-content: flex-end;
    
}
.project__header h1{
    width: 70%;
    font-size: 4rem;
    color: var(--body-color);
}
.project__filter{
    /* flex: 1; */
    
    /* padding: 1rem; */
    display: flex;
    /* gap: 1rem; */
    /* border-bottom: 3px solid lightgray; */
}
.project__filter li{
    position: relative;
    padding : 1rem;
}
.project__filter li::after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: lightgray;
    transition: 0.4s;
}
.project__filter li:hover::after{
    background-color: var(--body-color);
    border-radius: 5px;
}
.project__filter li a{
    color: var(--body-color);
}
.project__inner-container{
    position: relative;
    width: 100%;
}
.swiper{
    width: 90%;
}
.project__item{
  position: relative;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  margin: 5px;
  transition: 0.3s;
}
.project__item:hover{
  background-color: var(--body-color2);
}
.project-inner{
  margin: 2rem;
  height: 270px;
  width: 180px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
}
.project-inner .title{
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 500;
}
.project-inner-header{

}
/* .link_ref{
  margin-bottom: 2rem;
} */
.link_ref a i{
  color: var(--text-color);
  font-size: var(--h2-font-size);
}

.project__inner-container .swiper-pagination{
    position: absolute;
    bottom: 50%;
    
  }
  
.project__inner-container .swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #cd9393;
}
.project__inner-container .swiper-button-next, .project__inner-container .swiper-button-prev{
    opacity: 0.7;
    color: #dbaeae;
    transition: all 0.3s ease;
}
.project__inner-container .swiper-button-next:hover, .project__inner-container .swiper-button-prev:hover{
    opacity: 1;
    color: #cd9393;
 }









/* ========== FOOTER ========= */
.footer{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.footer__holder{
    width: 74%;
    position: relative;
}
.footer__content{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;    
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem 0 1rem 0;
    
}

.about__me{
    /* width: 100%; */
    flex:1;
}
.footer__text{
    font-size: 0.8rem;
    color: lightgrey;
}
.get__in__touch{
    flex: 2;
}

form{
    margin-top: 0.9rem;
    display: flex;
    gap: 1rem;
}
form button{
    padding: 3px 6px;
    background-color: var(--body-color3);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 550 ;
    
    transition: 0.4s;
}
form button:hover{
    background-color: #c7baa1;

}

.guide__lines{
    flex: 1;
}

.address{
    flex: 1;
}

.address ul{
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
    gap: 1rem;
}

.address ul li i{
    font-size: 0.9rem;
    color: gray;
}
.footer__last-section{
    position: relative;
}
.footer__last-section::before{
   
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        height: 4px;
        background-color: var(--body-color3);
        border-radius: 10px;
        width: 100%;  
}
.copy__right{

    position: relative;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.copy__right span{
    font-size: 0.8rem;
    color: lightgrey;
}
.copy__right span b{
    color: #fc5e5e  ;
}
    